body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #292929;
  font-size: 16px;
  line-height: 140%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0;
}

.main {
  padding: 120px 120px 0;
  background-color: #ffffff;
}

.section {
  padding: 0 0 120px;
  display: block;
  max-width: 1020px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .main {
    padding: 100px 72px 0;
  }

  .section {
    padding: 0 0 100px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    padding: 80px 10px 0;
  }

  .section {
    padding: 0 0 80px;
  }
}

/* #region header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(../img/Headphones-image-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom {
  display: block;
  width: 498px;
}

.main__heading {
  font-size: 48px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.5px;
  margin-top: 40px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    padding: 64px 72px;
  }

  .main__heading {
    font-size: 40px;
    margin-top: 40px;
    width: 392px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding: 64px 10px;
  }
  .main__heading {
    font-size: 32px;
    margin-top: 40px;
    width: 274px;
  }
}

/* #endregion header */

/* #region menu */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;

  height: 100vh;
  padding: 64px 120px;
  background: #e8eff9;
}

.menu:target {
  transform: translateX(0);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  color: #292929;
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* #endregion menu */

/* #region recommended */

.recommended__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.recommended__item {
  /* flex-grow: 1; */
  flex-basis: 324px;
}

.recommended__img {
  width: 100%;
}

.recommended__heading {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-bottom: 64px;
}

.recommended__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 8px;
  margin-top: 32px;
}

.recommended__category {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 12px;
}

.recommended__prise {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .recommended__heading {
    font-size: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .recommended__heading {
    font-size: 32px;
    margin-bottom: 48px;
  }
}

/* #endregion recommended */

/* #region categories */
.categories__heading {
  text-align: center;
  width: 498px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.categories__title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.categories__items {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.categories__item {
  max-width: 1020px;
  margin: 0 auto;
}

.categories__item__photos {
  display: flex;
  gap: 3%;
  margin-bottom: 16px;
}

.categories__item__img-large {
  width: 65%;
}

.categories__item__img-small {
  width: 32%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .categories__heading {
    font-size: 40px;
    width: 392px;
  }

  .categories__title {
    font-size: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .categories__heading {
    font-size: 32px;
    width: 280px;
    margin-bottom: 48px;
  }

  .categories__title {
    font-size: 16px;
  }
}

/* #endregion categories */

/* #region how-to-buy */
.how-to-buy__heading {
  flex-basis: 50%;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  margin-bottom: 32px;
}

.how-to-buy__items {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 24px;
  justify-content: space-between;
}

.how-to-buy__benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.how-to-buy__benefit {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.how-to-buy__description {
  font-size: 16px;
  line-height: 27px;
}

.how-to-buy__txt {
  flex-basis: 50%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .how-to-buy__heading {
    font-size: 40px;
  }

  .how-to-buy__items {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .how-to-buy__heading {
    font-size: 32px;
  }

  .how-to-buy__items {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
/* #endregion how-to-buy */

/* #region footer */
.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 460px;
  background-image: url(/src/img/footer-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* #endregion footer */
